.dashboard {
  margin-top: 70px;
  width: 100%;
  color: var(--text-dark);
}

/* Card container */
.dashboard-cards {
  padding: 1rem;
  display: flex;
}

/* Single Card instance */
.dashboard-card {
  box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25%;
  margin: 1rem;
  height: 110px;
  padding: 0.5rem;
  padding-bottom: 0;
  color: var(--light);
}

.dashboard-card:first-child {
  background-color: var(--theme-blue);
}

.dashboard-card:nth-child(2) {
  background-color: var(--danger-dark);
}

.dashboard-card:nth-child(3) {
  background-color: var(--warning);
}
.dashboard-card:nth-child(4) {
  background-color: var(--success-dark);
}

.dashboard div.numbers {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard div.numbers > span {
  font-weight: 700;
  font-size: 2.5rem;
}

.dashboard div.numbers > p.dashboard_icon {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 3px solid var(--light);
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard-stats {
  display: flex;
  padding: 0 2rem;
  padding-bottom: 1rem;
}

.deadline-tasks {
  width: 35%;
  height: 400px;
  font-size: 0.75rem;
}

.list_items {
  overflow: scroll;
  height: 300px;
}

.deadline-tasks > div.list_header,
.deadline-tasks > ul > li.list_item {
  display: flex;
  background-color: #f0f0f0;
  margin: 1rem 0;
  margin-bottom: 0.25rem;
  padding: 0.25rem 0.5rem;
  color: #666;
  height: 40px;
  align-items: center;
}

.deadline-tasks .serial_num {
  width: 2.5rem;
}

.deadline-tasks .task_name {
  width: 50%;
  overflow-x: scroll;
  margin-right: 0.5rem;
}
.deadline-tasks .end_date {
  width: 25%;
}

.deadline-tasks li.list_item {
  margin: 0.5rem 0;
  color: var(--light) !important;
  background-color: var(--dark) !important;
}

.deadline-tasks .priority-high {
  background-color: var(--danger-dark);
  padding: 0.25rem;
  flex: 1;
}
.deadline-tasks .priority-mid {
  background-color: var(--warning);
  padding: 0.25rem;
  flex: 1;
}
.deadline-tasks .priority-low {
  background-color: var(--success-dark);
  padding: 0.25rem;
  flex: 1;
}
.other-analysis {
  background-color: white;
  height: 400px;
  flex: 1;
  margin-left: 2rem;
  box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.2);
}

/* Media Query */
@media screen and (max-width: 765px) {
  .dashboard-cards {
    padding: 0 !important;
    font-size: 0.75rem;
  }

  .dashboard-card {
    height: 70px;
    margin: 0.25rem;
    overflow: hidden;
    text-align: center;
    padding-bottom: 0.5rem;
  }

  .dashboard-card .title {
    font-weight: 600;
    font-size: 0.75rem;
  }

  .dashboard div.numbers > span {
    font-size: 1rem;
    font-weight: 600;
    display: block;
    width: 100%;
  }

  .dashboard div.numbers > p.dashboard_icon {
    display: none;
  }

  .dashboard-stats {
    flex-direction: column;
    padding: 0 0.75rem;
  }

  .deadline-tasks {
    width: 100%;
  }

  .list_items {
    height: 315px;
  }

  .deadline-tasks > h3 {
    margin-top: 0.75rem;
    margin-bottom: 0.25rem;
    padding: 0;
  }

  .deadline-tasks > div.list_header {
    margin-top: 0;
  }

  .other-analysis {
    width: 100%;
    margin: 0.5rem 0;
  }
}
