.project-card{
    height: 200px;
    flex-basis: calc(33.33% - 2rem);
    border-radius: .25rem;
    padding: 1rem;
    box-shadow: 0 0 12px 3px rgba(0, 0, 0, .1);
    position: relative;
    margin: 1rem;
    background-color: white;

}

.project-card > div.form-action{
    display: flex;
    width: 100%;
    padding: .5rem 1rem;
    position: absolute;
    bottom: .25rem;
    left: 0;
    border-top: 2px solid #ccc;
    justify-content: space-between;
}


div.form-action > p{
    padding-right: 2rem ;
    border-right: 2px solid grey;
}

div.form-action > p:last-child{
    padding: 0;
    border: none;
}

div.form-action > p > span {
    margin-left: .5rem;
}