/* This File contains styles for the dashborad side bar */
.protected-route-container {
  min-height: 100vh;
  background-color: var(--light);
  color: grey;
  display: flex;
  position: relative;
}

.menu-bar {
  display: none;
}

.protected-route-container > div.header {
  /* position: absolute; */
  position: fixed;
  z-index: 1;
  top: 0;
  width: calc(100% - 300px);
  left: 300px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--light);
  padding: 0 2rem;
  border-bottom: 1px solid var(--theme-light);
  z-index: 3;
}

.protected-route-container > div.header > .search_bar {
  display: flex;
  padding: 0.5rem;
  align-items: center;
  background-color: white;
  box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.2);
}

.search_bar input {
  border: none !important;
  outline: none !important;
  padding: 0.25rem !important;
  height: 100%;
  min-width: 200px;
}

.search_bar .btn {
  background-color: var(--theme-blue);
  padding: 0.25rem;
  color: white;
}

.protected-route-container > div.header > .extras {
  display: flex;
  align-items: center;
  height: 100%;
  min-width: 25%;
  justify-content: flex-end;
}

.extras > .bell_icon {
  font-size: 1.25rem;
}

.protected-route-container > div.header .user_profile_pic {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: var(--theme-dark);
  border: 2px solid var(--dark);
  margin: 0 0.5rem;
  margin-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: White;
  font-size: 1.25rem;
}

.user_name {
  color: var(--dark);
  font-weight: 600;
}

.mobile-view-username {
  display: none;
}
/* Media Query */
@media screen and (max-width: 756px) {
  .protected-route-container > div.header {
    width: 100%;
    left: 0;
    padding: 0.5rem;
  }

  .search_bar input {
    border: 2px solid blue;
    min-width: 100px !important;
  }

  .user_name {
    display: none;
  }

  .menu-bar {
    display: block;
    padding-right: 0.5rem;
  }

  .search_bar input {
    width: 120px;
  }
}
