.auth .form-container {
  width: 80%;
  overflow: hidden;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
}

.signup-form,
.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  max-width: 480px;
  background-color: var(--theme-dark);
  padding: 1rem;
  border-radius: 0.25rem;
  box-shadow: 0 0 12px 3px rgba(0, 0, 0, 0.3);
}

.heading {
  text-align: center;
}

.auth label {
  margin-top: 1rem;
}

.auth input {
  /* margin-bottom: 1rem; */
  margin-top: 0.25rem;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--theme-light);
  color: var(--theme-light);
}

.auth .btn {
  padding: .5rem;
  margin-top: 1.5rem;
  background-color: var(--theme-blue);
  font-weight: 700;
  color: var(--theme-light);
  text-transform: uppercase;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.test {
  border: 2px solid red;
}

.form-error {
  color: var(--danger);
  font-weight: 600;
  font-size: 0.75rem;
}

.show-login-form {
  color: grey;
  margin-top: 0.25rem;
}

.show-login-form > span {
  color: var(--theme-blue);
  cursor: pointer;
}

.forgot-pwd {
  margin-top: 1rem;
}

.confimation_mail {
  color: var(--theme-dark);
  text-align: center;
  padding: 2rem;
  border: 2px solid red;
  margin-top: 2rem ;
}

.confimation_mail > small {
  display: block;
  color: grey;
  font-weight: 400;
  margin-top: 1rem;
}

/* Media Query */
@media screen and (min-width: 756px) {
  .auth .form-container {
    max-width: 480px;
  }
}
